.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-nav-header {
  background-color: #222;
  padding: 10px 250px 15px 250px;
  color: white;
}

.App-content {
  padding: 0 250px;
  text-align: center;
  color: #222;
}

.App-intro {
  font-size: x-large;
  margin-top: 25px;
  margin-bottom: 0;
}

.App-description {
  font-weight: normal;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 25px;
}

.title-message {
  margin-bottom: 0;
}

.header-links {
  list-style: none;
  display: flex;
  padding: 5px;
  margin: 0;
}

.nav-links {
  text-decoration: none;
  color: #eee;
  flex-direction: row;
  padding-right: 15px;
}

.nav-links:hover {
  color: #aaa;
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-flow: row;
}

.options-box, table {
  flex: 1 100%;
}

.options-box {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid #3a8296;
  background-color: #a0e8fc;
  margin: 0 25px 0 0;
  text-align: left;
}

.options-box li {
  margin: 10px 0 10px 20px;
}

.options-links {
  text-decoration: none;
  margin: 10px 0;
  color: #1d414b;
  padding: 5px 8px;
}

.options-links:hover {
  color: #306d7d;
  background-color: #cff3fd;
}

.table-area {
  min-width: 75%;
}

.search-bar {
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  height: 28px;
  margin: 0 8px 10px 0;
}

input[type="text"] {
  border: 1px solid #bbb;
  border-radius: 4px 0 0 4px;
  padding: 5px 7px;
}

.search-icon {
  background-color: #222;
  color: #61dafb;
  padding: 5px 7px;
  border-radius: 0 4px 4px 0;
}

table {
  border: 1px solid #222;
  border-collapse: collapse;
  min-width: 100%;
}

th, td {
  border: 1px solid #bbb;
}

th {
  border-bottom: 2px solid #999;
  background-color: #61dafb;
}

.table-foot-caption {
  font-size: small;
  min-height: 20px;
  min-width: 160px;
  padding: 5px 0 0 8px;
  margin-bottom: 0;
  color: #555;
}

.paging-buttons {
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.paging-buttons li {
  border-radius: 4px;
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.paging-buttons li:hover {
  background-color: #bbb;
}

.active-page {
  background-color: #222;
  border-color: #222 !important;
  color: #61dafb;
  cursor: default !important;
}

.active-page:hover {
  background-color: #222 !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media all and (min-width: 800px) {
  .options-box {
    flex-grow: 1;
    order: 1;
  }

  .table-area {
    flex-grow: 3;
    flex-basis: 0;
    order: 2;
  }
}
