.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-nav-header {
  background-color: #222;
  padding: 10px 250px 15px 250px;
  color: white;
}

.App-content {
  padding: 0 250px;
  text-align: center;
}

.App-intro {
  font-size: x-large;
  margin-top: 25px;
  margin-bottom: 0;
}

.App-description {
  font-weight: normal;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 25px;
}

.title-message {
  margin-bottom: 0;
}

.header-links {
  list-style: none;
  display: flex;
  padding: 5px;
  margin: 0;
}

.nav-links {
  text-decoration: none;
  color: #eee;
  flex-direction: row;
  padding-right: 15px;
}

.nav-links:hover {
  color: #aaa;
}

a:hover {
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-flow: row;
}

.options-box, table {
  flex: 1 100%;
}

.options-box {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  min-width: 200px;
  border-radius: 5px;
  border: 1px solid #0288d1;
  background-color: #b3e5fc;
  margin: 0 25px 0 0;
}

.options-box li {
  margin: 10px 0;
}

.options-links {
  text-decoration: none;
  margin: 10px 0;
  color: #01579b;
}

.options-links:hover {
  color: #0288d1;
}

table {
  border: 1px solid #222;
  border-collapse: collapse;
  min-width: 75%;
}

th, td {
  border: 1px solid #bbb;
}

th {
  border-bottom: 2px solid #999;
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media all and (min-width: 800px) {
  .options-box {
    flex-grow: 1;
    order: 1;
  }

  table {
    flex-grow: 3;
    flex-basis: 0;
    order: 2;
  }
}
